Angel-Costilla-practica2-ut4/Angel-Costilla-practica2_UT4_ex3.xml

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT rss (channel, title+, link*, description*, language, image?, url*, width?, height?)
<!ELEMENT item(title, link, description*)>
<!ELEMENT  channel (title, link, description* )>
<!ELEMENT title IDREF CDDATA REQUIRED>
<!ELEMENT link (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT width (#PCDATA)>
<!ELEMENT height (#PCDATA)>


